<style>
h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway"; 
}


div > p{
	font-family: "Montserrat";
	text-align: left;
	}

body{
 text-align: center;
  margin: 25px 50px 75px 100px;

}	


img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
}

i{text-align: center;}
/*
.image {
    position: relative;
    float: left;
    width:  300px;
    height: 300px;
    background-position: 100% 100%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 2%;
    padding:5%;

}*/

.gallery-item {
 margin: 5px 5px 5px 5px;
 padding: 5px 5px 5px 5px;
 height: 250px;
 width: 250px;
 border-radius: 5%;
 position: relative;
 box-sizing: border-box;
}
.border {
 height: 250px;
 width: 250px;
 border: 1px solid transparent;
 position: absolute;
 top: 10%;
 left: 10%;
 box-sizing: border-box;
}
.text {
 color: transparent;
 font-size: 22px;
 font-weight: bold;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 0;
 width: 100%;
}
.gallery-item:hover {
 opacity: 0.6;
}
.gallery-item:hover .border {
 border: 1px solid black;
}
.gallery-item:hover .text {
 color: black;
}
.gallery-item img {
 height: 300px;
 width: 300px;
 border-radius: 5%;
 margin: 0 0 0 0;
 padding: 20%;
}




/*
.container {
  position: relative;
  width: 100%;
  
}

.

.overlay {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 100%;
  height:0;
  right:0%;
  left:0%;
  transition: .5s ease;

}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
  right:5%;
  

}
/*
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.responsive {
    padding: 40px;
    float: left;
    width: 24.99999%;
}

*/

li{
text-align: left;	
}

br{
text-align: left;	
}

h2{text-align: left;}